{% if request.user.is_authenticated %}
<div class="collapse navbar-collapse justify-content-right" id="navbarCollapse">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'my_profile' request.user.username %}">My profile</a>
                {% include 'navbar/authenticated/admin_panel.html' %}
                <div class="dropdown-divider"></div>
                {% include 'navbar/authenticated/settings.html' %}
                <div class="dropdown-divider"></div>
                <form action="{% url 'logout_v' %}" method="POST">
                {% csrf_token %}
                <a style="cursor: pointer;" class="dropdown-item" onclick="parentNode.submit();">Log out</a>
                </form>
            </div>
        </li>
    </ul>
</div>
{% endif %}