{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modelform_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip_style.css' %}">
{% endblock links %}

{% block title %}<title>None</title>{% endblock title %}

{% block content %}
    <div class="wrapper fadeInDown">
        {% for field in form %}
            {% for error in field.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
        {% endfor %}
        <div id="formContent">
            <form method="POST" autocomplete="off">
                {% for field in form %}
                    {{ field }}
                    {% if field.help_text %}
                        <span class="tool-tip">
                        <i class="tool-tip__icon">i</i>
                        <i class="tool-tip__info">{{ field.help_text }}</i>
                        </span>
                    {% endif %}
                {% endfor %}
                <br><br>
                <input type="submit" class="fadeIn first input_button" value="{{ button_value }}">
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock content %}