{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'register/authentication_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'register/tooltip_style.css' %}">
{% endblock links %}
{% block title %}<title>Sign Up</title>{% endblock title %}

{% block content %}
    <div class="wrapper fadeInDown">
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        <div id="formContent">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    {% if field.help_text %}
                        <span class="tool-tip">
                        <i class="tool-tip__icon">i</i>
                        <i class="tool-tip__info">{{ field.help_text }}</i>
                        </span>
                    {% endif %}
                {% endfor %}
                <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock content %}