.tool-tip {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
}
.tool-tip .tool-tip__icon {
    background: #27b1f0;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    height: 20px;
    line-height: 1.3em;
    text-align: center;
    width: 20px;
}
.tool-tip .tool-tip__info {
    display: none;
    border: 1px solid #27b1f0;
    border-radius: 3px;
    font-size: 0.875em;
    padding: 1em;
    position: absolute;
    left: 30px;
    top: -20px;
    width: 250px;
}
.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 20px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #27b1f0;
}
.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
    display: inline-block;
}