{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modelform_style.css' %}">
{% endblock links %}
{% block title %}<title>Login</title>{% endblock title %}

{% block content %}
<div class="wrapper fadeInDown">
    {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
    <div id="formContent">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <p>Forgot your password? Reset <a href="{% url 'accounts:password_reset' %}">here</a></p>
            <input type="submit" class="fadeIn third input_button" value="Log In">
        </form>
    </div>
</div>
{% endblock content %}