<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    {% block title %}
    <title>Title</title>
    {% endblock title %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container text-center">
        <a class="navbar-brand" href="{% url 'home' %}">My Site</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <p>You are logged in as {{ user.username }}</p>
                <form action="{% url 'logout_f' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" style="margin-left: 50px">Logout</button>
                </form>

            {% else %}
                <form action="{% url 'login_f' %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <form action="{% url 'register' %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" style="margin-left: 10px">Register</button>
                </form>
            {% endif %}

        </div>
    </div>
</nav>

{% block content %}{% endblock content %}

</body>
</html>