{% extends 'base.html' %}

{% block title %}<title>Verify your account | MK-TODOS</title>{% endblock title %}

{% block content %}
    <div class="container text-center">
        <br>
        <h4>
            We've emailed you instructions for activating your account, if the email is valid.
            You should receive them shortly.
        </h4><hr><br>
        <p>
            If you don't receive an email, please make sure you've entered a valid email address,
            and check your spam folder.
        </p>
    </div>
{% endblock content %}