{% extends 'base.html' %}

{% block title %}<title>Home</title>{% endblock title %}

{% block content %}
<div class="container text-center">
    {% if message %}<br><div class="alert alert-primary">{{ message }}</div>{% endif %}
    <br>
    {% for task in todos %}
        {% if task.is_first %}{% include 'todolist/sort.html' %}{% endif %}
        {% if task.important %}
            <a href="{% url 'todo:detailed_todo' task.id task.title %}" class="btn btn-warning">
            <b>{{ task.title }}</b></a>
        {% else %}
            <a href="{% url 'todo:detailed_todo' task.id task.title %}" class="btn btn-info">
            {{ task.title }}</a>
        {% endif %}
        {{ task.date_created|date:'j-n-Y H:i' }}<br>
        {{ task.memo|truncatechars:50 }}<br><hr>
    {% endfor %}
    {% if user.is_authenticated %}
        {% if not todos %}
            <h4>Congrats, you don't have any tasks!</h4>
            <p>Go ahead and create one, if you have! </p>
        {% endif %}
        {% include 'pagination/paginator.html' %}
    {% else %}
        <h3>Welcome to my Todo site!</h3>
        <h3>You need to be registered to start creating your todos! :)</h3>
    {% endif %}
</div>
{% endblock content %}