/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_menu {
    position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown_menu-content button {
    width: 50%;
    margin: 2px;
}

/* Show the dropdown menu on hover */
.dropdown_menu:hover .dropdown_menu-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_menu:hover .dropbtn {background-color: #3e8e41;}