{% extends 'base.html' %}

{% block title %}
<title>{{ object.title }}</title>
{% endblock title %}


{% block content %}
    <br>
    <div class="container text-center">
        <form method="POST">
            {% csrf_token %}
{#            {{ task.as_p }}#}
{#            {{ task.title }}<br>#}
{#            {{ task.memo }}<br>#}
{#            {{ task.important }}<br>#}
            {% for field in task.visible_fields %}
                {{ field }}<br>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-info">Update</button>
        </form>

        <br>

        <form method="POST" action="{% url 'complete_todo' object.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Complete</button>
        </form>

        <br>

        <form method="POST" action="{% url 'delete_todo' object.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

{% endblock content %}