{% load static %}
{% load url_helper %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'todolist/css/sort_style.css' %}">
{% endblock links %}
<div class="dropdown">
    <button class="dropbtn">Sort by</button>
    <div class="dropdown-content">
        <a href="{% relative_url 'order_by' 'newest' request.GET.urlencode %}">
            <button class="btn btn-primary">Newest</button>
        </a><br>
        <a href="{% relative_url 'order_by' 'oldest' request.GET.urlencode %}">
            <button class="btn btn-primary">Oldest</button>
        </a>
    </div>
</div>