{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gear_style.css' %}">
{% if user.is_authenticated %}
    <form class="form-inline mr-auto" method="GET" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="text"
               placeholder="Search" name="q">
        <input class="btn btn-unique btn-rounded btn-sm my-0"
               type="submit" value="Search">
    </form>
    <p>You are logged in as {{ user.username }}</p>
    <form action="{% url 'logout_v' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="margin-left: 50px">Logout</button>
    </form>
    <div class="dropdown">
        <span class="gear">&#9881;</span>
        <div class="dropdown-content">
            <form action="{% url 'password_change' %}">
                <button class="btn btn-primary" style="border-radius: 10px;">Change Password</button>
            </form>
        </div>
    </div>
{% else %}
    <form action="{% url 'login_v' %}" method="GET">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <form action="{% url 'register_v' %}" method="GET">
        <button type="submit" class="btn btn-primary" style="margin-left: 10px">Register</button>
    </form>
{% endif %}